//color
$clr-blur-neon: rgb(30, 93, 252);
$clr-pink-neon: rgb(241, 106, 253);
$clr-orange-neon: rgb(252, 172, 123);

//worksmob

$works-color: rgb(184, 0, 164), rgb(182, 82, 0), rgb(121, 255, 98);
$works-sdw-color: rgba(184, 0, 164, 0.659), rgba(182, 82, 0, 0.659),
  rgba(133, 255, 129, 0.659);
$works1-color: rgb(184, 0, 164);
$works1-sdw-color: rgba(184, 0, 164, 0.659);

$works2-color: rgb(182, 82, 0);
$works2-sdw-color: rgba(182, 82, 0, 0.659);

$works3-color: rgb(121, 255, 98);
$works3-sdw-color: rgba(133, 255, 129, 0.659);
