@charset "utf-8";
.titleimg {
  margin-top: 15%;
}
/* about.html */
/*名前*/
.nname {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.Jname {
  z-index: 999;
  padding-top: 100px;
  height: 800px;
  margin-right: 50px;
}
.ryu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ryuimg {
  opacity: 0;
}
.Jname .ryu p {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  color: #e897fb;
  font-size: 5rem;
  text-shadow: 0 0 10px #d000ff;
  letter-spacing: 1rem;
  opacity: 0;
}
.Jname .uma p {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  font-size: 4rem;
  text-shadow: 0 0 10px #ffab00;
  color: #f7d797;
  letter-spacing: 1rem;
  opacity: 0;
}
.Jname p {
  color: white;
  font-family: ta-fuga-fude, sans-serif;
  font-weight: 400;
  font-style: normal;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}
.uma {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -370px;
  left: 60px;
}
.uma img {
  opacity: 0;
}
.Ename {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.Ename p {
  margin: 0;
  opacity: 0;
  font-family: rough-love, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  z-index: 92929;
  color: white;
}
.Ename p:first-child {
  color: #d000ff;
  text-shadow: 0 0 10px #d000ff;
}
.Ename p:nth-of-type(2) {
  color: #ffab00;
  text-shadow: 0 0 10px #ffab00;
}
.Ename p:nth-of-type(3) {
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #fff;
  font-size: 18rem;
  margin: 5% 0;
}
.myimg {
  border-radius: 10%;
  box-shadow: 0 0 10px rgb(192, 192, 192);
  overflow: hidden;
}
.LtoR {
  animation-name: LtoR;
  animation-duration: 1s;
  transition: 0.5s;
  animation-fill-mode: forwards;
}
.blurfirst {
  animation-name: blur;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.blursecond {
  animation-name: blur;
  animation-duration: 0.5s;
  transition: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.blurthird {
  animation-name: blur;
  animation-duration: 1s;
  transition: 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.linearfirst {
  animation-name: linearAnime;
  transition: 0.5s;
  transition-timing-function: linear;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.linearsecond {
  animation-name: linearAnime;
  transition: 0.5s;
  transition-timing-function: linear;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes LtoR {
  from {
    opacity: 0;
    transform: translateX(-100px);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes blur {
  from {
    filter: blur(10px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes linearAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .Ename p {
    font-size: 7rem;
  }
  .Ename p:nth-of-type(3) {
    font-size: 15rem;
  }
}
@media screen and (max-width: 959px) {
  .nname {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .Ename {
    margin-top: -50px;
  }
  .Ename p {
    font-size: 5.5rem;
  }
  .Ename p:nth-of-type(1),
  .Ename p:nth-of-type(2) {
    padding-left: 3%;
  }
  .Ename p:nth-of-type(3) {
    font-size: 14rem;
  }
  .Jname {
    margin: 0;
    padding-left: 0;
    height: 1200px;
  }
  .ryu img {
    width: 400px;
  }
  .Jname .ryu p {
    font-size: 7rem;
  }
  .uma {
    top: -500px;
  }
  .uma img {
    width: 250px;
  }
  .Jname .uma p {
    font-size: 6rem;
  }
}
@media screen and (max-width: 600px) {
  .Ename {
    width: 100vw;
    margin: 50px 0 0 0;
  }
  .Ename p {
    font-size: 3.5rem;
  }
  .Ename p:nth-of-type(3) {
    font-size: 8rem;
    overflow-x: hidden;
    margin: 60px 0;
  }
  .Jname {
    padding-left: 0;
    height: 800px;
    margin: 0;
  }
  .ryu img {
    width: 267px;
  }
  .Jname .ryu p {
    font-size: 5rem;
  }
  .uma {
    top: -370px;
  }
  .uma img {
    width: 177px;
  }
  .Jname .uma p {
    font-size: 4rem;
  }
  .myimg {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  html {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .Ename p {
    font-size: 2.7rem;
  }
  .Ename p:nth-of-type(3) {
    font-size: 6rem;
    overflow-x: hidden;
  }
  .skillsmile {
    width: 100vw;
  }
  .myskill {
    overflow: hidden;
    width: 100vw;
  }
}
/*メッセージ*/
.message {
  font-family: ヒラギノ角ゴシック, sans-serif;
  font-size: 2rem;
  font-weight: 150;
  margin: 100px 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.maintxt {
  line-height: 4rem;
  margin: 0;
}
.maintxt span {
  font-size: 3rem;
}
.webdesigner {
  font-family: rough-love, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  font-size: 7rem;
  text-shadow: 0 0 5px rgb(247, 22, 75);
  font-weight: 600;
  margin: 5% auto;
  line-height: 9rem;
  color: #ff3863;
}
.webdesigner span {
  font-family: ヒラギノ角ゴシック, sans-serif;
  font-size: 3rem;
}
@media screen and (max-width: 959px) {
  .webdesigner {
    font-size: 8rem;
  }
}
@media screen and (max-width: 450px) {
  .maintxt {
    font-size: 2rem;
    line-height: 4rem;
  }
  .webdesigner {
    margin-top: 10%;
    font-size: 5rem;
    line-height: 5rem;
  }
  .webdesigner span {
    font-size: 2.5rem;
  }
}
.message {
  margin: 250px 3% 0;
}

/*SKILL*/
.myskill {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.skill {
  margin-top: 200px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: white 1.5px solid;
}
.skill h1 {
  font-family: "ヒラギノ角ゴシック";
  color: white;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin: 100px auto;
  filter: drop-shadow(0 0 5px white);
}
.skill span {
  font-size: 6rem;
  font-weight: 500;
}
.traffic {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
}
.skillLv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  width: 35%;
}
.skillLv p {
  font-family: "ヒラギノ角ゴシック";
  font-size: 3rem;
  margin: 10px;
}
.skillsmile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(90, 90, 90);
  border-radius: 40px;
  /* border: #4e4e4e 2px solid; */
  padding: 10px 30px;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.521);
}
.skillsmile img {
  filter: brightness(30%);
}
.smile1 {
  animation-name: trafficchange;
  animation-duration: 1s;
  animation-delay: 0.5s;
  transition: 0.5s;
  animation-fill-mode: forwards;
}
.smile2 {
  animation-name: trafficchange;
  animation-duration: 1s;
  animation-delay: 1s;
  transition: 0.5s;
  animation-fill-mode: forwards;
}
.smile3 {
  animation-name: trafficchange;
  animation-duration: 1s;
  animation-delay: 1.5s;
  transition: 0.5s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 700px) {
  .traffic {
    margin-top: 20%;
    flex-direction: column;
  }
  .skillLv {
    margin-top: 10%;
  }
}
@keyframes trafficchange {
  from {
    filter: brightness(30%);
  }
  to {
    filter: brightness(100%);
  }
}
/* works.html*/
.worksflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
}
.worksimg {
  background-image: url(../img/works.png);
}
.work {
  display: flex;
  flex-direction: column;
  /* max-width: 1000px; */
}
.worksmob {
  z-index: 5;
  opacity: 0;
  box-sizing: border-box;
  position: relative;
  width: 630px;
  height: 100%;
  border-left: 5px solid rgb(184, 0, 235);
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(184, 0, 235);
  border-bottom: 5px solid transparent;
  font-family: garamond-premier-pro, serif;
  margin-bottom: 220px;
  margin-top: 15%;
  box-shadow: -7px -7px 10px 0 rgb(121, 0, 107);
}
.worksmob:nth-of-type(2) {
  border-left: 5px solid rgb(173, 173, 173);
  border-top: 5px solid rgb(173, 173, 173);
  box-shadow: -7px -7px 10px 0 rgba(255, 255, 255, 0.659);
}
.worksmob:nth-of-type(3) {
  border-left: 5px solid rgb(121, 255, 98);
  border-top: 5px solid rgb(121, 255, 98);
  box-shadow: -7px -7px 10px 0 rgba(133, 255, 129, 0.659);
}
.worksmob:nth-of-type(4) {
  border-left: 5px solid rgb(255, 142, 212);
  border-top: 5px solid rgb(255, 142, 212);
  box-shadow: -7px -7px 10px 0 rgba(255, 142, 212, 0.659);
}
.worksmob:nth-of-type(5) {
  border-left: 5px solid rgb(98, 255, 239);
  border-top: 5px solid rgb(98, 255, 239);
  box-shadow: -7px -7px 10px 0 rgba(98, 255, 239, 0.659);
}
.worksmob:nth-of-type(6) {
  border-left: 5px solid rgb(255, 182, 98);
  border-top: 5px solid rgb(255, 182, 98);
  box-shadow: -7px -7px 10px 0 rgba(255, 182, 98, 0.659);
}
.worksmob:nth-of-type(7) {
  border-left: 5px solid rgb(255, 98, 98);
  border-top: 5px solid rgb(255, 98, 98);
  box-shadow: -7px -7px 10px 0 rgba(255, 98, 98, 0.659);
}
.worksmob:nth-of-type(8) {
  border-left: 5px solid rgb(173, 173, 173);
  border-top: 5px solid rgb(173, 173, 173);
  box-shadow: -7px -7px 10px 0 rgba(255, 255, 255, 0.659);
}
.worksmob:nth-of-type(9) {
  border-left: 5px solid rgb(121, 255, 98);
  border-top: 5px solid rgb(121, 255, 98);
  box-shadow: -7px -7px 10px 0 rgba(133, 255, 129, 0.659);
}
.worksmob:nth-of-type(10) {
  border-left: 5px solid rgb(184, 0, 235);
  border-top: 5px solid rgb(184, 0, 235);
  box-shadow: -7px -7px 10px 0 rgba(184, 0, 235, 0.659);
}
.worksmob:nth-of-type(11){
  border-left: 5px solid rgb(255, 170, 73);
  border-top: 5px solid rgb(255, 170, 73);
  box-shadow: -7px -7px 10px 0 rgba(255, 170, 73, 0.659);
}

.worksfadeIn {
  animation-name: worksfadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.worksmob h1 {
  position: absolute;
  font-size: 9rem;
  font-weight: 600;
  font-style: normal;
  /* transform: rotate(-40deg); */
  margin: 0 auto;
  padding-right: 15%;
  width: 100%;
  bottom: -10px;
  left: 100px;

  text-align: center;
  opacity: 0;
  z-index: 300;
}
.worksmob h1 span {
  position: absolute;
  color: #494949cc;
  top: 65px;
  font-size: 7rem;
  z-index: 2;
}

.worksmob a {
  color: black;
  text-decoration: none;
}
.worksIntext {
  animation-name: worksIntext;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.worksmob img {
  width: 620px;
  height: 465px;
}
.traiangle {
  position: absolute;
  opacity: 0;
  top: 40%;
  right: 0;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(121, 0, 107);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(121, 0, 107);
  overflow: hidden;
}
.worksmob:nth-of-type(2) .traiangle {
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(209, 209, 209);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(209, 209, 209);
}
.worksmob:nth-of-type(3) .traiangle {
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(0, 96, 14);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(0, 96, 14);
}
.worksmob:nth-of-type(4) .traiangle {
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(255, 142, 212);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(255, 142, 212);
}
.worksmob:nth-of-type(5) .traiangle {
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(98, 255, 239);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(98, 255, 239);
}
.worksmob:nth-of-type(6) .traiangle {
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(255, 182, 98);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(255, 182, 98);
}
.worksmob:nth-of-type(7) .traiangle {
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(255, 98, 98);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(255, 98, 98);
}
.worksmob:nth-of-type(8) .traiangle {
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(173, 173, 173);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(173, 173, 173);
}
.worksmob:nth-of-type(9) .traiangle {
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(121, 255, 98);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(121, 255, 98);
}
.worksmob:nth-of-type(10) .traiangle {
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(184, 0, 235);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(184, 0, 235);
}
.worksmob:nth-of-type(11) .traiangle {
  border-left: 0 solid transparent;
  border-right: 600px solid rgb(255, 170, 73);
  border-top: 500px solid transparent;
  border-bottom: 0 solid rgb(255, 170, 73);
}

.worksrotate {
  animation: worksrotate;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
.worksinfo {
  position: absolute;
  bottom: -220px;
  opacity: 0;
  right: 0;
  font-size: 1.5rem;
}
.worksInsubtext {
  animation-name: worksInsubtext;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.worksinfo p {
  color: black;
}
@keyframes worksfadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes worksrotate {
  from {
    opacity: 0;
    transform: rotate(110deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes worksIntext {
  from {
    opacity: 0;
    transform: translateX(-200px);
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
    transform: translateY(0);
    transform: rotate(-40deg);
  }
}
@keyframes worksInsubtext {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (min-width: 1200px) {
  .work {
    max-width: 1000px;
  }
}
@media screen and (max-width: 750px) {
  .work {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .worksmob{
    width: 530px;
  }
  .worksmob img{
    width: 520px;
    height: 393px;
  }
  .worksmob h1{
    font-size: 7.5rem;
    bottom: 5px;
    padding-right: 20%;
  }
  .worksmob h1 span{
    font-size: 6.5rem;
  }
  .worksinfo{
    font-size: 1.2rem;
    bottom: -200px;
  }
  .traiangle{
    border-right: 530px solid rgb(121, 0, 107);
    border-top: 441px solid transparent;  
  }
  .worksmob:nth-of-type(2) .traiangle {
    border-left: 0 solid transparent;
    border-right: 530px solid rgb(209, 209, 209);
    border-top: 441px solid transparent;
    border-bottom: 0 solid rgb(209, 209, 209);
  }
  .worksmob:nth-of-type(3) .traiangle {
    border-left: 0 solid transparent;
    border-right: 530px solid rgb(0, 96, 14);
    border-top: 441px solid transparent;
    border-bottom: 0 solid rgb(0, 96, 14);
  }
  .worksmob:nth-of-type(4) .traiangle {
    border-left: 0 solid transparent;
    border-right: 530px solid rgb(255, 142, 212);
    border-top: 441px solid transparent;
    border-bottom: 0 solid rgb(255, 142, 212);
  }
  .worksmob:nth-of-type(5) .traiangle {
    border-left: 0 solid transparent;
    border-right: 530px solid rgb(98, 255, 239);
    border-top: 441px solid transparent;
    border-bottom: 0 solid rgb(98, 255, 239);
  }
  .worksmob:nth-of-type(6) .traiangle {
    border-left: 0 solid transparent;
    border-right: 530px solid rgb(255, 182, 98);
    border-top: 441px solid transparent;
    border-bottom: 0 solid rgb(255, 182, 98);
  }
  .worksmob:nth-of-type(7) .traiangle {
    border-left: 0 solid transparent;
    border-right: 530px solid rgb(255, 98, 98);
    border-top: 441px solid transparent;
    border-bottom: 0 solid rgb(255, 98, 98);
  }
  .worksmob:nth-of-type(8) .traiangle {
    border-left: 0 solid transparent;
    border-right: 530px solid rgb(173, 173, 173);
    border-top: 441px solid transparent;
    border-bottom: 0 solid rgb(173, 173, 173);
  }
  .worksmob:nth-of-type(9) .traiangle {
    border-left: 0 solid transparent;
    border-right: 530px solid rgb(121, 255, 98);
    border-top: 441px solid transparent;
    border-bottom: 0 solid rgb(121, 255, 98);
  }
  .worksmob:nth-of-type(10) .traiangle {
    border-left: 0 solid transparent;
    border-right: 530px solid rgb(184, 0, 235);
    border-top: 441px solid transparent;
    border-bottom: 0 solid rgb(184, 0, 235);
  }
  .worksmob:nth-of-type(11) .traiangle {
    border-left: 0 solid transparent;
    border-right: 530px solid rgb(255, 170, 73);
    border-top: 441px solid transparent;
    border-bottom: 0 solid rgb(255, 170, 73);
  }

  
  
}
@media screen and (max-width: 600px) {
  .worksmob{
    width: 430px;
  }
  .worksmob img{
    width: 420px;
    height: 315px;
  }
  .worksmob h1{
    font-size: 6.5rem;
    bottom: 15px;
    padding-right: 20%;
  }
  .worksmob h1 span{
    font-size: 5.5rem;
    right: 150px;
  }
  .worksinfo{
    font-size: 1.1rem;
    bottom: -170px;
  }
  .traiangle{
    border-right: 430px solid rgb(121, 0, 107);
    border-top: 358px solid transparent;  
  }
  .worksmob:nth-of-type(2) .traiangle {
    border-left: 0 solid transparent;
    border-right: 430px solid rgb(209, 209, 209);
    border-top: 358px solid transparent;
    border-bottom: 0 solid rgb(209, 209, 209);
  }
  .worksmob:nth-of-type(3) .traiangle {
    border-left: 0 solid transparent;
    border-right: 430px solid rgb(0, 96, 14);
    border-top: 358px solid transparent;
    border-bottom: 0 solid rgb(0, 96, 14);
  }
  .worksmob:nth-of-type(4) .traiangle {
    border-left: 0 solid transparent;
    border-right: 430px solid rgb(255, 142, 212);
    border-top: 358px solid transparent;
    border-bottom: 0 solid rgb(255, 142, 212);
  }
  .worksmob:nth-of-type(5) .traiangle {
    border-left: 0 solid transparent;
    border-right: 430px solid rgb(98, 255, 239);
    border-top: 358px solid transparent;
    border-bottom: 0 solid rgb(98, 255, 239);
  }
  .worksmob:nth-of-type(6) .traiangle {
    border-left: 0 solid transparent;
    border-right: 430px solid rgb(255, 182, 98);
    border-top: 358px solid transparent;
    border-bottom: 0 solid rgb(255, 182, 98);
  }
  .worksmob:nth-of-type(7) .traiangle {
    border-left: 0 solid transparent;
    border-right: 430px solid rgb(255, 98, 98);
    border-top: 358px solid transparent;
    border-bottom: 0 solid rgb(255, 98, 98);
  }
  .worksmob:nth-of-type(8) .traiangle {
    border-left: 0 solid transparent;
    border-right: 430px solid rgb(173, 173, 173);
    border-top: 358px solid transparent;
    border-bottom: 0 solid rgb(173, 173, 173);
  }
  .worksmob:nth-of-type(9) .traiangle {
    border-left: 0 solid transparent;
    border-right: 430px solid rgb(121, 255, 98);
    border-top: 358px solid transparent;
    border-bottom: 0 solid rgb(121, 255, 98);
  }
  .worksmob:nth-of-type(10) .traiangle {
    border-left: 0 solid transparent;
    border-right: 430px solid rgb(184, 0, 235);
    border-top: 358px solid transparent;
    border-bottom: 0 solid rgb(184, 0, 235);
  }
  .worksmob:nth-of-type(10) .traiangle {
    border-left: 0 solid transparent;
    border-right: 430px solid rgb(255, 170, 73);
    border-top: 358px solid transparent;
    border-bottom: 0 solid rgb(255, 170, 73);
  }

  

}
@media screen and (max-width: 460px) {
  .worksmob{
    width: 330px;
  }
  .worksmob img{
    width: 320px;
    height: 240px;
  }
  .worksmob h1{
    font-size: 5rem;
    bottom: -10px;
    padding: 0;
    margin-left: -50px;
  }
  .worksmob h1 span{
    font-size: 4rem;
    top: 45px;
    right: 70px;
  }
  .worksinfo{
    font-size: .9rem;
    bottom: -130px;
  }
  .traiangle{
    border-right: 330px solid rgb(121, 0, 107);
    border-top: 275px solid transparent;  
  }
  .worksmob:nth-of-type(2) .traiangle {
    border-left: 0 solid transparent;
    border-right: 330px solid rgb(209, 209, 209);
    border-top: 275px solid transparent;
    border-bottom: 0 solid rgb(209, 209, 209);
  }
  .worksmob:nth-of-type(3) .traiangle {
    border-left: 0 solid transparent;
    border-right: 330px solid rgb(0, 96, 14);
    border-top: 275px solid transparent;
    border-bottom: 0 solid rgb(0, 96, 14);
  }
  .worksmob:nth-of-type(4) .traiangle {
    border-left: 0 solid transparent;
    border-right: 330px solid rgb(255, 142, 212);
    border-top: 275px solid transparent;
    border-bottom: 0 solid rgb(255, 142, 212);
  }
  .worksmob:nth-of-type(5) .traiangle {
    border-left: 0 solid transparent;
    border-right: 330px solid rgb(98, 255, 239);
    border-top: 275px solid transparent;
    border-bottom: 0 solid rgb(98, 255, 239);
  }
  .worksmob:nth-of-type(6) .traiangle {
    border-left: 0 solid transparent;
    border-right: 330px solid rgb(255, 182, 98);
    border-top: 275px solid transparent;
    border-bottom: 0 solid rgb(255, 182, 98);
  }
  .worksmob:nth-of-type(7) .traiangle {
    border-left: 0 solid transparent;
    border-right: 330px solid rgb(255, 98, 98);
    border-top: 275px solid transparent;
    border-bottom: 0 solid rgb(255, 98, 98);
  }
  .worksmob:nth-of-type(8) .traiangle {
    border-left: 0 solid transparent;
    border-right: 330px solid rgb(173, 173, 173);
    border-top: 275px solid transparent;
    border-bottom: 0 solid rgb(173, 173, 173);
  }
  .worksmob:nth-of-type(9) .traiangle {
    border-left: 0 solid transparent;
    border-right: 330px solid rgb(121, 255, 98);
    border-top: 275px solid transparent;
    border-bottom: 0 solid rgb(121, 255, 98);
  }
  .worksmob:nth-of-type(10) .traiangle {
    border-left: 0 solid transparent;
    border-right: 330px solid rgb(184, 0, 235);
    border-top: 275px solid transparent;
    border-bottom: 0 solid rgb(184, 0, 235);
  }
  .worksmob:nth-of-type(11) .traiangle {
    border-left: 0 solid transparent;
    border-right: 330px solid rgb(255, 170, 73);
    border-top: 275px solid transparent;
    border-bottom: 0 solid rgb(255, 170, 73);
  }



}

